.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px;
  background-color: #2a332a;
  height: 100px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  /* 🔥 SOMBRA PRETA SEMPRE VISÍVEL */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
}



.logo {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-img {
  height: 40px;
  margin-right: 15px;
}

.logo-text {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff; /* cinza escuro */
}


.menu ul {
  display: flex;
  flex-wrap: nowrap;
  gap: clamp(0.5rem, 2vw, 2rem); /* espaço se adapta */
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  font-size: clamp(0.75rem, 2.2vw, 1rem);
  white-space: nowrap; /* impede quebra do texto */
}


.menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700; /* deixa em negrito */
  letter-spacing: 0.5px; /* opcional: espaçamento entre letras */
  transition: color 0.2s ease;
}

.menu a:hover {
  color: #00f320; /* azul institucional */
}

.hamburguer {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Responsivo */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    top: 70px; /* abaixo do header fixo */
    right: 1rem;
    background-color: #384742;
    border: 1px solid #999999;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  }

  .menu.ativo {
    display: block;
  }

  .menu ul {
    flex-direction: column;
    gap: 0.75rem;
  }

  .hamburguer {
    display: block;
    font-size: 1.8rem;
    color: #ffffff;
  }
}